body {
  margin: 0;
  padding: 0;
  background-color: gray;
}

canvas {
  height: 100%;
  width: 100%;
}

#ui {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: white;
  background-color: rgba(200, 200, 200, 0.1);
  align-items: center;
  justify-content: center;
}
